@page "/"

<PageTitle>Building</PageTitle>

<div>
    <button class="btn mt-3">+</button>
</div>

<div class="row mt-5">
    @for(int i =0; i< 4;i++)
    {
        <div class="branch col-4 mx-5 my-3">
            <div class="head-container d-grid">
                <div class="bell w-75">
                    <img class="w-50" src="./images/bell.png" alt="Bell" />
                </div>
                <div class="branch-code">
                    <h4 class="fw-bolder">Code</h4>
                </div>
            </div>
            <div class="w-100">
                <img class="w-100" src="./images/gymhouse.png" alt="A Branch" />
            </div>
            <div class="branch-name text-center mt-3">
                <h4 class="fw-bolder">Branch name</h4>
            </div>
        </div>
    }
</div>
