@page "/employee_salary"
<PageTitle>Employee Salary</PageTitle>

<form class="d-flex justify-content-end my-3">
    <div class="d-flex justify-content-center align-items-center">
        <label for="MY" class="form-label mx-2 mt-3">Year</label>
        <div class="input-group">
            <InputSelect class="form-control" id="MY" @bind-Value="@currentYear" >
                @for(int i = thisYear; i >= thisYear - 2;i--)
                {
                    <option value="@i">@i</option>
                }
            </InputSelect>
        </div>
    </div>
</form>

<div class="row mb-5">
    @for(int i = 1; i < 13; i++)
    {
        <div class="nav-link link-dark col-3 month">
            <div class="w-100">
                <img class="w-100" src="./images/calendar.png" alt="A User" />
            </div>
            <div class="title text-center">
                <h4 class="fw-bolder">@i/@currentYear</h4>
            </div>
        </div>
    }
</div>
