button {
    background-color: #00FF4F;
    font-size: 220%;
    font-weight: bolder;
    padding: 0% 3% 0 3%;
    width: 12%;
}

label {
    font-size: 130%;
    font-weight: bolder;
}

.submit-button {
    width: 35% !important;
}
