@page "/"

<PageTitle>Login</PageTitle>

<div class="container">
    <div class="login_cpn">
        <div class="row">
            <div class="col-12 text-center">
                <h1 class="fw-bold flex-wrap" id="login_text">Gym Management System</h1>
            </div>
            <div class="d-flex justify-content-center">
                <div class="col-md-6 image_login m-3 mt-0 ms-5 d-none d-md-block">
                    <img class="w-100" src="/images/loginimage.png" alt="gym boy" />
                </div>
                <div class="col-md-6 m-3 me-5">
                    <form>
                        <div class="mb-4 mt-3">
                            <label for="codeInput" class="form-label fw-bold fs-3">Code</label>
                            <input type="text" class="form-control border-dark border-2" id="codeInput" aria-describedby="code">
                            <div id="code" class="form-text"></div>
                        </div>
                        <div class="mb-4">
                            <label for="passInput" class="form-label fw-bold fs-3">Password</label>
                            <input type="text" class="form-control border-dark border-2" id="passInput" aria-describedby="code">
                            <div id="pass" class="form-text"></div>
                        </div>  
                        <div class="text-center">
                            <button type="submit" class="btn btn-warning fw-bold fs-4">Confirm</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
