@page "/setting"

<PageTitle>Setting</PageTitle>

<script type="text/javascript">
        function SetActiveClass(element) {
        var navLinkActive = document.querySelector('.active');
        if (navLinkActive != null) {
            navLinkActive.classList.remove('active');
        }
        if (element != null) {
            element.classList.add('active');
        }
    }
</script>

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" aria-current="page" onclick="SetActiveClass(this)">Salary</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" onclick="SetActiveClass(this)">Service</a>
    </li>
</ul>
