@page "/setting"
@using Client_FAU.Components.Ingredients
@rendermode InteractiveServer

<PageTitle>Setting</PageTitle>

@if(isLoading)
{
    <Loading></Loading>
}

<ul class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link active" id="pills-salary-tab" data-bs-toggle="pill" data-bs-target="#pills-salary" role="tab" aria-controls="pills-salary" aria-selected="true" aria-current="page" onclick="SetActiveClass(this)">Salary</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="pills-service-tab" data-bs-toggle="pill" data-bs-target="#pills-service" role="tab" aria-controls="pills-service" aria-selected="true" aria-current="page" onclick="SetActiveClass(this)">Service</a>
    </li>
</ul>

@if (!string.IsNullOrEmpty(message))
{
    <div class="alert alert-info mt-2 d-flex">
        <div class="w-50">
            @message
        </div>
        <div class="w-100 d-flex justify-content-end align-items-center">
            <a class="btn btn-close" data-bs-dismiss="alert" aria-label="Close" />
        </div>
    </div>
}

<div class="tab-content mt-5" id="pills-tabContent">
    <!-- salary tab -->
    <div class="tab-pane fade show active" id="pills-salary" role="tabpanel" aria-labelledby="pills-salary-tab" tabindex="0">
        <div class="row mb-5">
            @if(salaries == null) { <h5>There are a problem !</h5>} 
            else if(salaries.Count() <= 0) {<h5>There are no record to display</h5>}
            else
            {
                @foreach(var salary in salaries)
                {
                    <div class="setting col-6 my-3 mx-4">
                        <div class="row">
                            <div class="left-section col-11">
                                <div class="title row">
                                    <h4 class="col-6 text text-start mt-1">@salary.SalaryType</h4>
                                    <h5 class="col-6 text text-end">@salary.UpdateDate</h5>
                                </div>
                                <form class="mt-1">
                                    <div class="mb-3">
                                        <label for="PriceApply" class="form-label text fs-4">Price Apply</label>
                                        <div class="d-flex justify-content-start">
                                            @{
                                                var price = salary.PricesApply.ToString("N0");
                                            }
                                            <h4 class="text mt-2 col-3 text-center">@price</h4>
                                            <h4 class="text mt-2 col-3 text-center">Vn dong</h4>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="right-section col-1 d-grid justify-content-center align-items-center">
                                <div class="image w-75 mt-2">
                                    <img class="w-100" src="/images/trash.png" alt="A Trash" />
                                </div>
                                <hr />
                                <div class="image w-75 mb-2">
                                    <img class="w-100" src="/images/edit.png" alt="An Edit" />
                                </div>
                            </div>
                        </div>
                    </div>
                }
            }

            <!-- sample -->
            <hr class="d-none line-down"/>
            <div class="setting setting-sample col-6 my-3 mx-4 d-none">
                <div class="row">
                    <div class="col-12">
                        <div class="title row">
                            <h5 class="col-6 text text-start mt-1">@DateTime.Now</h5>
                        </div>
                        <EditForm Model=@Model FormName="Add Salary" class="mt-1" OnValidSubmit="AddSalariesDataBase" OnInvalidSubmit="ShowInvalidMessage">
                            <DataAnnotationsValidator/>
                            <div class="mb-3">
                                <label for="salaryType" class="form-label text fs-4">Salary Type</label>
                                <div class="d-flex justify-content-start">
                                    <InputText type="text" class="form-control" id="salaryType" @bind-Value=Model!.SalaryType />
                                </div>
                                <label for="PriceApply" class="form-label text fs-4">Price Apply</label>
                                <div class="d-flex justify-content-start">
                                    <InputText type="text" class="form-control" id="PriceApply" @bind-Value=Model.GetPricesApply/>
                                    <h4 class="text mt-2 col-3 text-center">Vn dong</h4>
                                </div>
                            </div>
                            <ValidationSummary />

                            <div class="mb-2">
                                <button type="submit" class="btn btn-success">Confirm</button>
                                <button type="reset" class="btn btn-danger" onclick="UndisplaySalarySample()">Cancel</button>
                            </div>
                        </EditForm>
                    </div>
                </div>
            </div>
            <!-- end sample -->

            <div class="setting setting-plus col-6 my-3 mx-4 d-flex justify-content-center align-items-center">
                <a class="nav nav-link" onclick="AddSalarySample()"><h1 class="text">+</h1></a>
            </div>
        </div>
    </div>
    <!-- service tab -->
    <div class="tab-pane fade" id="pills-service" role="tabpanel" aria-labelledby="pills-service-tab" tabindex="1">
        <div class="row mb-5">
            @for(int i = 0; i < 3;i++)
            {
                <div class="setting col-6 my-3 mx-4">
                    <div class="title2 row">
                        <h4 class="col-6 text text-start mt-1">Package name</h4>
                        <h5 class="col-6 text text-end">Admin update</h5>
                    </div>
                    <div class="body mt-2">
                        <h4 class="col-6 text text-start">Price</h4>
                    </div>
                    <form class="mt-1">
                        <div class="mb-3">
                            <label for="PriceApply" class="form-label text fs-4">Price Apply</label>
                            <div class="d-flex justify-content-start mt-2">
                                <h4 class="text col-3 ms-4 text-start">1,000</h4>
                                <h4 class="text col-3 text-start">Vn dong</h4>
                            </div>
                        </div>
                        <div class="mb-3 d-flex justify-content-start mt-2">
                            <h4 class="text col-3 text-start">Member</h4>
                            <h4 class="text col-3 text-start">4</h4>
                            <h4 class="text col-3 text-start">Days</h4>
                            <h4 class="text col-3 text-start">31</h4>
                        </div>
                    </form>
                    <div class="bottom-section d-flex w-100 justify-content-center align-items-center">
                        <div class="image w-25 d-flex justify-content-center align-items-center m-1 me-5">
                            <img class="w-25" src="/images/trash.png" alt="A Trash" />
                        </div>
                        <h1>|</h1>
                        <div class="image w-25 d-flex justify-content-center align-items-center m-1 ms-5">
                            <img class="w-25" src="/images/edit.png" alt="An Edit" />
                        </div>
                    </div>
                </div>
            }
            <div class="setting col-6 my-3 mx-4 d-flex justify-content-center align-items-center">
                <a class="nav nav-link"><h1 class="text">+</h1></a>
            </div>
        </div>
    </div>
</div>