@page "/"
@using PasswordManipulate.Variables

<PageTitle>Change Password</PageTitle>

@if(!State.isConfirm)
{
    <div class="d-flex justify-content-center align-items-center all-container">
        <div class="sub-container">
            <div class="d-flex justify-content-center title">
                <h1 class="fw-bold">Change Password</h1>
            </div>

            <div class="w-100 d-flex justify-content-center">
                <EditForm class="px-4 py-2" Model="@Model" FormName="Edit Account" OnSubmit="UpdateAccountForDatabase">
                    <ValidationSummary />
                    <div class="mb-3 mt-2 text-center">
                        <label for="Code" class="form-label text text-center">Code</label>
                        <InputText type="text" class="form-control" id="Code" @bind-Value=Model.AccountCode />
                    </div>
                    <div class="mb-3 text-center">
                        <label for="OldPassword" class="form-label text text-center">Old Password</label>
                        <InputText type="password" class="form-control" id="OldPassword" @bind-Value=Model.Password />
                    </div>
                    <div class="mb-3 text-center">
                        <label for="NewPassword" class="form-label text text-center">New Password</label>
                        <InputText type="password" class="form-control" id="NewPassword" @bind-Value=Model.NewPassword />
                    </div>
                    <DataAnnotationsValidator />
                    @if (!string.IsNullOrEmpty(message))
                    {
                        <h5 class="text text-danger">@message</h5>
                    }

                    <div class="w-100 d-flex justify-content-center">
                        <button type="submit" class="btn text-center submit-button mb-2">Confirm</button>
                    </div>
                </EditForm>
            </div>
        </div>
    </div>
}
else
{
    <h2 class="text text-primary">Your account has been changed, click <a class="text text-success" onclick="closePage()" style="cursor: pointer;">Close</a> to close page.</h2>
}

<script type="text/javascript">
    function closePage() {
        window.close();
    }
</script>


