.text {
    font-size: 130%;
    font-weight: bolder;
    color: white;
}

form {
    background-color: #14172C;
    border-radius: 10px;
    width: 50%;
}

input {
    border-radius: 10px;
}

.submit-button {
    background-color: blue;
    color: white;
    font-size: 130%;
}

.title {
    max-width: 100%;
    color: white;
}

.all-container {
    height: 90vh;
}

.sub-container {
    width: 120%;
}
