<RadzenCard>
    <EditForm FormName="Add Salary" class="mt-1" >
        <DataAnnotationsValidator/>
        <div class="mb-3">
            <label for="salaryType" class="form-label text fs-4">Salary Type</label>
            <div class="d-flex justify-content-start">
                <InputText type="text" class="form-control" id="salaryType"  />
            </div>
            <label for="PriceApply" class="form-label text fs-4">Price Apply</label>
            <div class="d-flex justify-content-start">
                <InputText type="text" class="form-control" id="PriceApply" />
                <h4 class="text mt-2 col-3 text-center">Vn dong</h4>
            </div>
        </div>
        <ValidationSummary />

        <div class="mb-2">
            <button type="submit" class="btn btn-success">Confirm</button>
        </div>
    </EditForm>
</RadzenCard>
