@model Models.Login
@{
    ViewData["Title"] = "Login page";
}

<div class="d-flex justify-content-center align-items-center login-container">
    <div class="card login-card bg-white text-black">
        <div class="card-header text-center border-bottom border-black">
            <h5>Login</h5>
        </div>
        <div class="card-body">
            <form method="post" asp-action="Index" asp-controller="Login">
                <div class="form-group my-2">
                    <label asp-for=AccountCode class="text form-label">Code</label>
                    <input asp-for=AccountCode type="text" class="form-control border-success-subtle" />
                    <span class="text-danger" asp-validation-for="AccountCode"></span>
                </div>

                <div class="form-group my-2">
                    <label asp-for=Password class="text form-label">Password</label>
                    <input asp-for=Password type="password" class="form-control border-success-subtle" />
                    <span class="text-danger" asp-validation-for="Password"></span>
                </div>

                <div class="w-100 d-flex justify-content-center my-4">
                    <button type="submit" class="btn btn-success text text-center submit-button" id="confirmBtn">Confirm</button>
                </div>
            </form>
        </div>
    </div>
</div>
