<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link href="@Assets["bootstrap/bootstrap.min.css"]" rel="stylesheet" />
    <link rel="stylesheet" href="@Assets["app.css"]" />
    <link rel="stylesheet" href="@Assets["Client_FAU.styles.css"]" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <ImportMap />
    <HeadOutlet />
    <RadzenTheme Theme="material" @rendermode="InteractiveServer" />
</head>

<body>
    <Routes @rendermode=InteractiveServer/>
    <audio id="success-audio">
        <source src="/audios/success.mp3" type="audio/mp3">
    </audio>
    <audio id="error-audio">
        <source src="/audios/error.mp3" type="audio/mp3">
    </audio>
    <noscript class="text-bg-danger">There are not connect js !</noscript>
    <script src="_framework/blazor.web.js"></script>
    <script src="/dist/js/bootstrap.min.js"></script>
    <script src="_content/Radzen.Blazor/Radzen.Blazor.js?v=@(typeof(Radzen.Colors).Assembly.GetName().Version)"></script>
    <script src="_content/SweetAlert2/sweetAlert2.min.js"></script>
    <script type="text/javascript">
        function Reload() {
            window.location.reload();
        }
    </script>
    <script type="text/javascript">
        function CloseEditModal() {
            var modal = document.getElementById('editmodal');
            var bsModal = bootstrap.Modal.getInstance(modal);
            bsModal.hide();
        }
        function PlaySuccessAudio() {
            var audio =document.getElementById('success-audio');
            audio.play();
        }
        function PlayErrorAudio() {
            var audio =document.getElementById('error-audio');
            audio.play();
        }
    </script>
</body>

</html>
