<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link href="bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="Client_FAU.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <HeadOutlet />
</head>

<body>
    <Routes />
    <noscript class="text-bg-danger">There are not connect js !</noscript>
    <script src="_framework/blazor.web.js"></script>
    <script src="/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript">
        function SetActiveClass(element) {
            var navLinkActive = document.querySelector('.active');
            if (navLinkActive != null) {
            navLinkActive.classList.remove('active');
            }
            if (element != null) {
            element.classList.add('active');
            }
        }

        function AddSalarySample() {
            var settingPlus = document.querySelector('.setting-plus');
            if(settingPlus == null) { return; }
            settingPlus.classList.add('d-none');

            var settingSample = document.querySelector('.setting-sample');
            if(settingSample == null) {return;}
            settingSample.classList.remove('d-none');

            var lineDown = document.querySelector('.line-down');
            if(lineDown == null) {return;}
            lineDown.classList.remove('d-none');
        }

        function UndisplaySalarySample() {
            var settingPlus = document.querySelector('.setting-plus');
            if(settingPlus == null) { return; }
            settingPlus.classList.remove('d-none');

            var settingSample = document.querySelector('.setting-sample');
            if(settingSample == null) {return;}
            settingSample.classList.add('d-none');

            var lineDown = document.querySelector('.line-down');
            if(lineDown == null) {return;}
            lineDown.classList.add('d-none');
        }
    </script>
</body>

</html>
